#navbar-text {
	color: #FFFFFF;
}

#dropdown-text {
	color: #6F473D;
}

.portrait {
	border-width: 10px;
	border-radius: 50%;
	width: 200px;
	height: 200px;
}

.projects-container {
	/*width: 50%;
	height: 50%;*/
	height: 225px;
	width: 300px;
	overflow: hidden;
	margin: 0 auto;
}

.projects-container img {
	height: auto;
	width: 100%;
}

.icon {
	color: white;
}